@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Open+Sans:wght@700&display=swap');

body {
    background-color: #282A36;
    text-align: center;
    
}

#hero {
    width: 592px;
    margin: 0 auto 30px;
}

#hero img {
    margin-bottom: 10px;
}

h1 {
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    font-size: 58px;
    
}

span {
    color: #FC3A3F;
}

p, a {
    font-family: 'Open Sans', sans-serif;;
    color: #FFFFFF;
    font-size: 19px;
}

#balls {
    position: fixed;
    bottom: 0px;
    right: 0px;
}


footer a + a {
    margin-left: 29px;
}

#line {
    width: 568px;
    height: 0px;
    margin: 0 auto 20px;
    
    border: 1px dashed #ffffff;
}