* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d192b;
  font-family: "Outfit", sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.card {
  background-color: #14253d;
  border-radius: 15px;
  width: 20.313rem; /*325px*/
  padding: 1.5rem;
  box-shadow: 1px 9px 10px -5px #00000061;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.nft-img {
  padding-bottom: 1.5rem;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 15px 15px 15px 15px;
}

h1 {
  color: #ffffff;
  font-weight: 600;
  font-size: 28px;
  padding-bottom: 1rem;
}

.text {
  font-size: 17px;
  color: #8bacda;
  font-weight: 300;
  padding-bottom: 2rem;
}

.price {
  display: flex;
  align-items: center;
  gap: 5rem;
  font-size: 12px;
  padding-bottom: 2rem;
}

.fa-ethereum {
  color: #00fff7;
  font-weight: 600;
}

.fa-clock {
  color: #8bacda;
  font-weight: 600;
}

.line {
  border-top: 1px solid #2f415b;
  padding-bottom: 1rem;
}
.creator {
  color: #ffffff;
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
}

.avatar {
  max-width: 2.5rem;
}

.credit {
  padding-left: 1rem;
}
